<section class="about-us-block">
  <img id="karen-outline" src="/images/karen-outline.png" alt="Karen">
  <div class="wrapper">
    <div class="content">
      <h2 class="h1"><em class="underline">Passionate</em> about success & growth.</h2>
      <p>Our expertise is delivered by people who are passionate about success and growth. We've been there. We know about success and failure, but now we use that knowledge to your advantage.</p>
      <a href="/" class="button">About us</a>
    </div>
  </div>
</section>