{% set slide %}
  <div class="banner-body swiper-slide">
    <div>
      <p class="caption">A <em class="underline">proven</em> formula to reinvigorate and advance your business.</p>
      <a class="button button-yellow" href="/">Learn More</a>
    </div>
    <div class="banner-image">
      <img
        srcset="/images/banner-image.png 332w, /images/banner-image-lg.png 818w"
        sizes="(max-width: 600px) 480px, 800px"
        src="/images/banner-image-lg.png"
        alt="">
    </div>
  </div>
{% endset %}
<header class="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navar-item" href="/">
        <img src="/images/logo.svg" alt="Elation Logo">
      </a>
      <div class="navbar-burger" onclick="openMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="32.752" height="21.308" viewBox="0 0 32.752 21.308">
          <g id="burger-menu" transform="translate(-1368.661 -111)">
            <path id="Path_12" data-name="Path 12" d="M0-3.481l32.013-.2.739,3.456L0-.473Z" transform="translate(1368.661 114.68)" fill="#fff"/>
            <path id="Path_15" data-name="Path 15" d="M32.752-3.485H11.2L10.457-.1,32.752-.541Z" transform="translate(1368.661 123.485)" fill="#fff"/>
            <path id="Path_16" data-name="Path 16" d="M0-3.489,32.013-3.68l.739,3.308L0-.61Z" transform="translate(1368.661 132.68)" fill="#fff"/>
          </g>
        </svg>
      </div>
    </div>
    <aside class="navbar-menu">
      <div class="navbar-menu-close" onclick="closeMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24.098" height="24.098" viewBox="0 0 24.098 24.098">
          <g id="close" transform="translate(-1537.775 -56.613)">
            <path id="Path_15" data-name="Path 15" d="M29.589,0H.981L0,4.49l29.589-.583Z" transform="translate(1540.95 56.613) rotate(45)" fill="#fff"/>
            <path id="Path_26992" data-name="Path 26992" d="M29.589,0H.981L0,4.49l29.589-.583Z" transform="translate(1561.873 59.788) rotate(135)" fill="#fff"/>
          </g>
        </svg>
      </div>
      <a class="logo"><img src="/images/elation-brandmark-logo.svg" alt=""></a>
      <ul>
        <li><a href="/">Us</a></li>
        <li><a href="/" aria-current="page">You</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Resources</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
      <div class="socials">
        <a href="/"><img src="/images/fb.svg" alt="Facebook"></a>
        <a href="/"><img src="/images/twitter.svg" alt="Twitter"></a>
        <a href="/"><img src="/images/linked-in.svg" alt="LinkedIn"></a>
        <a href="/"><img src="/images/insta.svg" alt="Instagram"></a>
      </div>
    </aside>
    <div class="navbar-backdrop" onclick="closeMenu()"></div>
  </nav>
  <div class="swiper swiper--banner">
    <div class="swiper-wrapper">
      {{ slide | safe }}
      {{ slide | safe }}
      {{ slide | safe }}
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"><span class="iconify" data-icon="fa-solid:arrow-right"></span></div>
  </div>
</header>