<footer class="footer">
  <div class="wrapper">
    <div class="footer-row">
      <a class="logo">
        <img src="/images/icon/branding/elation-brandmark-logo.svg" alt="">
      </a>
      <div class="links">
        <h4>Products</h4>
        <a href="/">Growth Framework</a>
        <a href="/">Growth Academy</a>
        <a href="/">Growth Club</a>
      </div>
      <div class="links">
        <h4>Company</h4>
        <a href="/">About</a>
        <a href="/">News & Insights</a>
        <a href="/">Growth Club</a>
      </div>
      <div class="links">
        <h4>Help</h4>
        <a href="/">FAQ</a>
        <a href="/">Contact</a>
        <a href="/">Resources</a>
      </div>
      <div>
        <div class="socials">
          <a href="/"><img width="48" height="48" src="/images/icon/socials/fb.svg" alt="Facebook"></a>
        <a href="/"><img width="48" height="48" src="/images/icon/socials/twitter.svg" alt="Twitter"></a>
        <a href="/"><img width="48" height="48" src="/images/icon/socials/linked-in.svg" alt="LinkedIn"></a>
        <a href="/"><img width="48" height="48" src="/images/icon/socials/insta.svg" alt="Instagram"></a>
        </div>
        <div class="newsletter">
          <p>Subscribe to our newsletter and stay in the loop.</p>
          <a class="arrow" href="/">Sign Up</a>
        </div>
      </div>
    </div>
    <div class="footer-row footer-lower">
      <p>© 2019 Elation.<br> All rights reserved.</p>
      <a href="/"><em class="underline underline-green">Terms & Conditions</em></a>
      <a href="/"><em class="underline underline-green">Privacy Policy</em></a>
      <a href="/"><em class="underline underline-green">Cookie Policy</em></a>
    </div>
  </div>
</footer>