<section class="latest-news-block">
  <div class="wrapper">
    <div class="heading">
      <h2 class="caption">The <em class="underline underline-green">latest</em></h2>
      <a class="arrow" href="/">All News</a>
    </div>
    <div class="news-thumbs">
      <div class="thumb">
        <img src="/images/thumbnail-2.png" alt="">
        <div class="thumb-content">
          <p class="tag h3"><em class="underline">Resources</em></p>
          <h3 class="title h2">Download the Three Pillars of Successfull Selling e-Book</h3>
          <time datetime="2019-08-15">15.08.19</time>
        </div>
      </div>
      <div class="thumb">
        <img src="/images/thumbnail-1.png" alt="">
        <div class="thumb-content">
          <p class="tag h3"><em class="underline">Resources</em></p>
          <h3 class="title h2">Download the Three Pillars of Successfull Selling e-Book</h3>
          <time datetime="2019-08-15">15.08.19</time>
        </div>
      </div>
      <div class="thumb">
        <img src="/images/thumbnail-2.png" alt="">
        <div class="thumb-content">
          <p class="tag h3"><em class="underline">Resources</em></p>
          <h3 class="title h2">Download the Three Pillars of Successfull Selling e-Book</h3>
          <time datetime="2019-08-15">15.08.19</time>
        </div>
      </div>
    </div>
  </div>
</section>