<section class="pattern-block">
  <div class="wrapper">
    <div class="heading">
      <h1>For Those who know they can be more <em class="underline">successful,</em> the time is now.</h1>
    </div>
    <div class="paragraph">
      <p>The Growth Academy gives business leaders the tools to implement a blueprint for attaining growth. Using a unique and proven methodology, we enable you to create a healthier and efficient team that will transform sales and break through barriers to let your business thrive.</p>
      <a class="button button-purple" href="/">What we offer</a>
    </div>
  </div>
</section>