<section class="product-block">
  <div class="wrapper">
    <div class="intro">
      <h2 class="caption">It's time to make your business <em class="underline underline-green">awesome.</em></h2>
      <p>We are the only company in the UK to offer this completely unique system of business assessment and transformation.</p>
    </div>
    <div class="product-cards">
      <div class="card">
        <img src="/images/growth-framework.svg" alt="Growth Framework">
        <p>The Business Growth Framework is our full consultancy approach programme.</p>
        <p><strong>Perfect for your business if you:</strong></p>
        <ul>
          <li>SME</li>
          <li>Turnover in excess of £5 million</li>
          <li>Sales team of 10+ people</li>
          <li>Ambitious growth plans</li>
          <li>Available budget to invest</li>
        </ul>
        <a class="arrow" href="">Learn more</a>
      </div>
      <div class="card">
        <img src="/images/growth-academy.svg" alt="Growth Academy">
        <p>The Business Growth Framework is our full consultancy approach programme.</p>
        <p><strong>Perfect for your business if you:</strong></p>
        <ul>
          <li>SME</li>
          <li>Turnover in excess of £5 million</li>
          <li>Sales team of 10+ people</li>
          <li>Ambitious growth plans</li>
          <li>Available budget to invest</li>
        </ul>
        <a class="arrow" href="">Learn more</a>
      </div>
      <div class="card">
        <img src="/images/growth-club.svg" alt="Growth Club">
        <p>The Business Growth Framework is our full consultancy approach programme.</p>
        <p><strong>Perfect for your business if you:</strong></p>
        <ul>
          <li>SME</li>
          <li>Turnover in excess of £5 million</li>
          <li>Sales team of 10+ people</li>
          <li>Ambitious growth plans</li>
          <li>Available budget to invest</li>
        </ul>
        <a class="arrow" href="">Learn more</a>
      </div>
    </div>
  </div>
<strong></section></strong>